/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #996855;
  --secondary: #e2c2b5;
  --accent-rgb: 153, 104, 85;
  --font-color: #4b4442;
  --black: 15, 18, 25;
  --background-color: 233, 229, 227;
  --card-color: 236, 219, 209;
  --gray: 27, 27, 27;
}

[data-theme="light"] {
  --accent: #996855;
  --secondary: #e2c2b5;
  --accent-rgb: 153, 104, 85;
  --font-color: #4b4442;
  --black: 15, 18, 25;
  --background-color: 233, 229, 227;
  --card-color: 236, 219, 209;
  --code: rgb(243, 243, 243);
}

[data-theme="dark"] {
  --accent: #7a7fc7;
  --secondary: #46515f;
  --accent-rgb: 122, 127, 199;
  --font-color: #d9d7eb;
  --black: 244, 247, 255;
  --background-color: 23, 23, 26;
  --card-color: 47, 51, 59;
  --code: rgb(33, 33, 37);
}

body {
  font-family: "Roboto mono", monospace;
  margin: 0;
  padding: 0;
  text-align: left;
  background: rgb(var(--background-color));
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--font-color);
  font-size: 20px;
  line-height: 1.7;
  background-image: radial-gradient(
    rgba(var(--accent-rgb), 30%) 1.8px,
    rgb(var(--background-color)) 1.8px
  );
  background-size: 32px 32px;
}
main {
  width: 820px;
  max-width: calc(100% - 2em);
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1.6em;
  background-color: rgb(var(--card-color));
  border-radius: 24px;
  top: 3em;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(var(--accent-rgb), 30%);
  box-shadow: 2px 2px 16px 3px rgba(var(--accent-rgb), 18%);
}

@media (max-width: 720px) {
  main {
    border-color: transparent;
    border-radius: 0;
    margin-top: 3em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: rgb(var(--black));
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: var(--code);
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
