---
import Layout from "../layouts/BlogPost.astro";

const birth = new Date(2005, 0o7, 17);
const today = new Date();
let age = 0;
if (today.getMonth() > 0o7) {
  age = today.getFullYear() - birth.getFullYear();
} else {
  age = today.getFullYear() - birth.getFullYear() - 1;
}
---

<Layout
  title="About Me :>"
  description="If you see this, you are pretty cool"
  pubDate={new Date("June 17 2024")}
>
  <p>
    There is not so much about me to talk about, but here we go! <br />
    I'm a simple {age}-year-old guy from Argentina who loves programming and a
    bunch of other things related to computers, the internet, and Japan! <br />
    I have been using computers since a young age, and i've always had some kind
    of hunger for building and creating stuff myself! So i started playing with things
    like Scratch and PSeint, after some time i decided i wanted to be a game dev
    and had my first time using a Game Engine, which was Unreal Engine. <br />
    Anyways that didn't really stick with me too long so i started playing with code
    editors and some Python, and to this day i keep exploring new tools and frameworks!
  </p>

  <p>
    Enough from the past—what am i doing right now? <br />
    <br />
    I have been recently centering myself into low-level programming languages and
    tools, like Rust, Assembly, C, assemblers, linkers and compilers! <br />
    I aspire to be an OSDev some day! <br />
    I also have experience building Web Apps and native apps with Tauri, Electron,
    Flutter and Android Studio. <br />
    And this website, which is built with Astro! <br />
  </p>

  <p>
    If for some reason you want to contact me, you have a few options
    available, i won't mind if you just want to say hello!
    <ul>
      <li>My beautiful Discord: @chiwabox</li>
      <li>My Email: chiwuabox@gmail.com</li>
      <li>
        And my... <a href="https://x.com/ChiwuaB">twitter?...</a> i dont really use
        this one but... there it is!
      </li>
    </ul>
  </p>
</Layout>
