---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Information from "../sections/Information.astro";
import Phrase from "../sections/Phrase.astro";
import Presentation from "../sections/Presentation.astro";
import dog from "../assets/dogsatellite.png";

const response = await fetch("https://api.github.com/users/gg0074x");
let user = null;
if (response.status == 200) {
    user = await response.json();
}
---

<Layout>
    <Hero />
    <div class="flex w-full justify-center">
        <div class="w-5xl">
            <Presentation image={user ? user.avatar_url : dog.src} />
            <Phrase
                phrase={user ? user.bio : "segmentation fault (core dumped)"}
            />
            <Information />
        </div>
    </div>
</Layout>
