/* color palette from <https://github.com/vuejs/theme> */
:root {
    --black: #000000;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --black-rgb: 0, 0, 0;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--white);
    --color-background-rgb: var(--white-rgb);
    --on-background: var(--black);
    --on-background-rgb: var(--black-rgb);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--black);
        --color-background-rgb: var(--black-rgb);
        --on-background: var(--white);
        --on-background-rgb: var(--white-rgb);
    }
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/Satoshi-Regular.woff") format("woff");
}

@font-face {
    font-family: "NotoJP";
    src: url("/fonts/NotoSansJP-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "DelaGothicOne";
    src: url("/fonts/DelaGothicOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "CascadiaCode";
    src: url("/fonts/CascadiaCode-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "CascadiaCodeItalic";
    src: url("/fonts/CascadiaCode-Italic-VariableFont_wght.ttf")
        format("truetype");
}
