@import "./base.css";

body,
html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: var(--color-background);
    overflow-x: hidden;
    overflow-y: hidden;
}
